input {
  /*-webkit-appearance:textfield;*/
  background-color:white;
  /*-webkit-rtl-ordering:logical;*/
  cursor:text;
  padding:1px;
  border-width:2px;
  border-style:inset;
  border-color:initial;
  border-image:initial;
}

