.timeman-block {
  cursor:pointer;
  display:inline-block;
  height:63px;
  text-align:left;
  white-space:nowrap;
  /*cursor:pointer;*/
  /*display:inline-block;*/
  /*height:63px;*/
  /*text-align:left;*/
  /*white-space:nowrap;*/
}

