.sitemap-menu-lines {
  display:block;
  position:absolute;
  top:30px;
  left:9px;
  right:8px;
  height:2px;
  /*-webkit-transition:background 0s .3s;*/
  transition:background 0s .3s;
  /*display:block;*/
  /*position:absolute;*/
  /*top:30px;*/
  /*left:9px;*/
  /*right:-2px;*/
  /*height:2px;*/
  /*-webkit-transition:background 0s .3s;*/
  /*transition:background 0s .3s;*/
}

